* {
  font-family: 'Roboto', sans-serif;
}

header {
  position: relative;
}

nav {
  height: 51px;
  background-color: #212121;
}

.menu {
  display: flex;
  justify-content: space-between;
  paddi ng: 13px 70px;
  margin: 0;
  list-style-type: none;
}

.menu .menu_link {
  color: #ffffff;
  font-size: 15px;
  font-weight: 300;
}

.menu .menu_item {
  border-right: 2px dotted black;
  padding-right: 28px;
}

.subheader {
  position: absolute;
  width: 100%;
  height: 84px;
  background-color: rgba(0, 0, 0, 0.6);
}

.subheader .subheader_logo {
  display: block;
  max-width: 100%;
  margin-top: 17px;
}

.subheader .subheader_official {
  margin-top: 6px;
  color: #ffffff;
  font-size: 13px;
  font-weight: 100;
  opacity: 0.5;
}

.subheader .subheader_call {
  margin-top: 23px;
  color: #ffffff;
  font-size: 12px;
  font-weight: 300;
  text-align: right;
}

.subheader .subheader_phone {
  display: block;
  color: #ffffff;
  margin-top: 8px;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: right;
  line-height: 12px;
}

.subheader .subheader_btn {
  margin-top: 19px;
  width: 172px;
  height: 46px;
  box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 4px;
  background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.subheader .subheader_btn:hover {
  background-image: none;
  background-color: red;
}

.promo {
  min-height: 799px;
  background: url("../img/first_img.jpg") center center/cover no-repeat;
  padding: 150px 0 135px 0;
}

.promo .promo_main {
  color: #ffffff;
  font-size: 60px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 60px;
  text-align: center;
}

.promo .promo_subheader {
  color: #ffffff;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 36px;
  margin-top: 22px;
  text-align: center;
}

.promo .promo_text {
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  margin-top: 23px;
}

.promo .promo_btn {
  display: block;
  margin: 118px auto 0 auto;
  width: 259px;
  height: 63px;
  box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 4px;
  background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

.reasons {
  padding: 71px 0 65px 0;
}

.label {
  margin: 0 auto;
  height: 24px;
  width: 112px;
  padding: 5px 12px;
  background-color: #000000;
  color: #ffffff;
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
}

.title {
  margin-bottom: 0;
  margin-top: 38px;
  color: #222222;
  font-size: 38px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.reasons .reasons_block {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}

.reasons .reasons_block .reasons_round {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 26px;
  width: 113px;
  height: 113px;
  background-color: #1eacc7;
  border-radius: 100%;
}

.reasons .reasons_block .reasons_descr {
  width: 343px;
}

.reasons .reasons_block .reasons_descr .reasons_subtitle {
  line-height: 21px;
  color: #1eacc7;
  font-size: 17px;
  font-weight: 400;
}

.reasons .reasons_block .reasons_descr .reasons_text {
  color: #202020;
  font-size: 15px;
  font-weight: 300;
  line-height: 21px;
}

.mobile {
  min-height: 864px;
  padding: 48px 0 79px 0;
  background: url("../img/bg_3.jpg") center center/cover no-repeat;
}

.mobile .row {
  margin-top: 32px;
}

.mobile .mobile_main {
  color: #222222;
  font-size: 38px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-top: 38px;
}

.mobile .mobile_text {
  color: #222222;
  font-size: 17px;
  font-weight: 400;
  text-align: center;
  margin-top: 20px;
}

.mobile .mobile_form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile .mobile_zone {
  position: relative;
  width: 320px;
  height: 280px;
  margin: 0 auto;
  margin-bottom: 19px;
  padding-top: 92px;
}

.mobile .mobile_zone_1 {
  background: url("../icon/3-1.png") center center/cover no-repeat;
}

.mobile .mobile_zone_2 {
  background: url("../icon/3-2.png") center center/cover no-repeat;
}

.mobile .mobile_zone_3 {
  background: url("../icon/3-3.png") center center/cover no-repeat;
}

.mobile .mobile_zone_4 {
  background: url("../icon/3-4.png") center center/cover no-repeat;
}

.mobile .mobile_zone_5 {
  background: url("../icon/3-5.png") center center/cover no-repeat;
}

.mobile .mobile_zone_6 {
  background: url("../icon/3-6.png") center center/cover no-repeat;
}

.mobile_boxtext {
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  line-height: 31px;
  text-align: center;
  text-transform: uppercase;
}

.mobile_plus {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 35px;
  left: 50%;
  transform: translateX(-50%);
  width: 26px;
  height: 26px;
  background-color: #000000;
  border-radius: 100%;
  margin: 0 auto;
  cursor: pointer;
}

.choose {
  min-height: 858px;
  padding: 56px 0 138px 0;
  background: url("../img/bg_3.jpg") center bottom/50% repeat-x;
  background-color: #070716;
}

.choose_label {
  margin-top: 56px;
  background-color: #ffffff;
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  color: #070716;
}

.choose_main {
  margin-top: 23px;
  font-size: 38px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
}

.choose_submain {
  color: #ffffff;
  color-font-size: 17px;
  color-font-weight: 400;
  color-text-align: center;
  justify-content: center;
  margin-top: 57px;
}

.choose_submain_image {
  display: flex;
}

.choose_endtext {
  color: #222222;
  color-font-size: 17px;
  color-font-weight: 400;
  color-text-align: center;
}
